/*----------------MainContent Start------------------*/
.ddp_box
{
	border:1px solid #d9d9d9;	
}
.ddp_box .ddp_box_header
{
	width:100%;
	height:28px;
	background:#ed6b41;	
	
}
.ddp_box_header .dijitArrowNodeInner
{
	position:relative;
	top:1px;
	left:-5px;	
}
.ddp_box_header h3
{
	color:#fff;
	line-height:28px;
	font-size:14px;
	font-weight:600;
	padding-left:15px;
}
.ddp_box_table
{
	padding:5px 0px;
}
.ddp_box_table td
{
	padding:5px 10px;
}
.textbox
{
	background:url(../images/txtbox_background.jpg) repeat-x;
	height:18px;
	border:1px solid #d7d7d7;
	color:#777;
	width:180px;
}
.calander_icon
{
	position:relative;
	top:4px;
}
.nodata
{
	color:#fe9270;
	font-size:12px;
	padding-left:5px;	
}
.btn
{
	background:url(../images/button_background.jpg) repeat-x;
	height:22px;
	border:none;
	color:#fff;
	font-weight:600;
	padding:0px 10px;
	line-height:22px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
}

/*----------------MainContent End------------------*/

/*----------------Footer Start------------------*/

.footer
{
	width:100%;
	height:35px;
	border-top:5px solid #bababa;
/* 	position: fixed; */
/* 	bottom: 0px; */
}
.footer_left
{
	color:#fff;
	float:left;
	font-weight:600;
	line-height:30px;
	margin-left:10px;
}
.footer_right
{
	 float:right; 
	 padding-right:10px;
	 line-height:30px;
}
.footer_right ul li
{
	list-style:none;
	display:inline;
	padding:0px 5px;
}
.footer_right ul li a
{
	display:inline;
	color:#fff;
	text-decoration:none;
	font-weight:600;
}
/*-----------------Footer End------------------*/
.dijitTitlePaneTitle
{
	color:#fff;
	line-height: 28px;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 7px;
	}
.ddp_box .dijitTitlePaneTitle
{
	width:100%;
	height:15px;
	background:#ed6b41;	
	padding-bottom: 15px;
	padding-top: 0px;
}
.dijitTitlePaneTitle .dijitArrowNodeInner
{
	position:relative;
	top:1px;
	left:-5px;	
}
.dijitTitlePaneTitle
{
/* 	color:#fff; */
	line-height:28px;
	font-size:14px;
	font-weight:600;
	padding-bottom:0px;
}
.dijitTitlePaneTitle * {
	vertical-align: middle;
	padding-bottom:0px;
}
.dijitTitlePane .dijitArrowNodeInner {
	
	display: none;
}

.dijitTitlePane {
	display: block;
	overflow: hidden;
}

.dijitTitlePaneTextNode{
/* 	color:#fff; */
	line-height:28px;
	font-size:13px;
	font-weight:600;
	padding-left:9px;
	
}
.dijitFixedOpen {
	
	cursor: default;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	
	display:inline !important;
	font-family: monospace;		
}
.dijit_a11y .dijitTitlePane .dijitArrowNode {
	display:none;
}
.dijitArrowNode{
/* 	background-image: url(../images/view.png); */
	padding-left: 2px; 
}


.tundra .dijitTitlePaneTitle {
	width:100%;
	height:28px;
	background:#ed6b41;	
}
.dj_ie6 .tundra .dijitTitlePaneTitle {
	background-image: none;
}
.tundra .dijitTitlePaneTitleHover {
	background-color: #abd6ff;
	border-color: #769dc0;
}
.tundra .dijitTitlePaneTitleActive {
	background-color: #7dbefa;
	border-color: #769dc0;
	background-position:0px -136px;
}
.dijitTitlePaneTitleFocus {
/* 	margin-top:3px; */
	padding-left: 5px;
	padding-top: 0px;
/*	background: rgb(255,139,89);
  	background: #fead93;  */
	background:url(../images/login_header_bg.jpg) repeat-x; 
}
.dijitTitlePaneTitleFocus:hover{
	background: url(../images/login_header_bg.jpg);
}
.dijitTitlePaneTitleFocus:active{
	background: url(../images/accordion_active_background.jpg);
}
/**********************************Text Field********************/
.dijit_a11y .dijitTextBox .dijitValidationContainer,
.dijit_a11y .dijitTextBox .dijitSpinnerButtonContainer,
.dijit_a11y .dijitComboBox .dijitArrowButtonContainer {
	
	border: solid gray !important;
	border-width: 0 0 0 1px !important;
}
.	 .dijitSpinnerButtonContainer {
	width: 1em;
	position: relative !important;
	overflow: hidden;
}

.dijitTextBox INPUT:focus {
	outline: none;	
}
.dijitTextBoxFocused {
	outline: auto 5px -webkit-focus-ring-color;
}
.dijitTextBox {
/*     border: 1px solid gray; */
    width: 15em;
    vertical-align: middle;
    
}
.dijitTextBox INPUT {
    float: left;
    background: url(../images/txtbox_background.jpg) repeat-x scroll 0% 0% transparent;
	height: 18px;
/*     border: 1px solid gray; */
	border: 1px solid rgb(215, 215, 215);
	color: rgb(0, 0, 0);
	width: 180px;
	border-left: apx solid #ccc;
	border-left: 1px solid #ccc;
}

/**************************************************

.dijitMenuItemLabel {
	position: relative;
	vertical-align: middle;
	width: 97px;
	background-color: rgb(245, 131, 67);
	color: white;
	font-weight: 600;
	border-left-color: yellow;
	margin-bottom: 2px;
}